* {
  border: none;
  border-radius: 0;
  font-family: "0xProto Nerd Font Propo";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces {
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button {
  color: #cdcdcd;
  padding: 2px 8px;
  margin: 0 2px;
  font-size: 14px;
  background: #0d0c0d;
  border-radius: 4px;
  border: 1px solid rgba(94, 94, 94, 0.2);
}

#workspaces button.active {
  background: #252425;
  border: 1px solid rgba(94, 94, 94, 0.6);
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray,
#custom-power,
#custom-swaylock,
#custom-suspend,
#custom-hibernate,
#custom-reboot,
#custom-exit_hyprland {
  background: #0d0c0d;
  padding: 2px 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(94, 94, 94, 0.2);
}

#custom-swaylock,
#custom-suspend,
#custom-hibernate,
#custom-reboot,
#custom-exit_hyprland {
  font-size: 14px;
  color: #ffffff;
}

#custom-swaylock {
  color: #8be9fd;
}

#custom-suspend {
  color: #bd93f9;
}

#custom-hibernate {
  color: #50fa7b;
}

#custom-exit_hyprland {
  color: #ff5555;
}

#custom-reboot {
  color: #8be9fd;
}

#pulseaudio,
#tray {
  color: #cdcdcd;
}

#custom-power {
  margin-right: 10px;
  color: #ff5555;
}

#cpu,
#memory,
#temperature {
  color: #cdcdcd;
}

#network {
  color: #bd93f9;
}

#battery {
  color: #f1fa8c;
}

#battery.charging {
  color: #50fa7b;
}

#battery.warning:not(.charging) {
  color: #ffb86c;
}

#battery.critical:not(.charging) {
  color: #ff5555;
}

#clock {
  color: #8be9fd;
}

#custom-expand,
#custom-endpoint {
  background: #0d0c0d;
  padding: 2px 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid rgba(94, 94, 94, 0.2);
}

#wlr-taskbar {
  background: #0d0c0d;
  padding: 2px 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(94, 94, 94, 0.2);
}

#wlr-taskbar.active {
  background: #252425;
  border: 1px solid rgba(94, 94, 94, 0.6);
}
